<nav>
  <!-- <a routerLink="/" routerLinkActive="active" >Home</a> -->
  <a routerLink="/courses" routerLinkActive="active" >Courses</a>
  <a routerLink="/informationPopup" routerLinkActive="active" >InformationPopup</a>
  <a routerLink="/studentDetails" routerLinkActive="active" >StudentDetails</a>
  <a routerLink="/studentList" routerLinkActive="active" >StudentList</a>
  <a routerLink="/teacherForm" routerLinkActive="active" >TeacherForm</a>
</nav>
<router-outlet></router-outlet>


<!-- <app-student-list></app-student-list> -->
<!-- <app-teacher-form [teacher]="t"></app-teacher-form> -->

    <!-- <h1>{{whatTime()}}  {{ title }}</h1>
  <router-outlet />  -->
  

  <!-- {{"happy" | iconsText}}
  <div></div>
  {{"moon" | iconsText}}
  <div></div>
  {{"fire" | iconsText}} -->


